body {
    display: block;
    background-color: ivory;
    padding: 0em;
    margin: 0em;
}

#header-container {
    text-align: center;
    padding: 10px;
    background-image: url(../img/lab1.jpg);
    background-size: cover;
    border: 2px;
}

#head {
    font-size: 2em;
    letter-spacing: 0.5em;
    color: whitesmoke;
}

#content-container-rec {
    padding: 1.5em 8em;
}

.recTable {
    width: 70%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-top: 0.5em;
}

.recInfo {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    float: right;
    width: 20%;
}

.button {
    width: 7em;
    text-align: center;
}

.buttonCenter {
    display: block; 
    margin: 0 auto;
}

.buttonRight{
    float: right;
    margin-left: 20px;
}

.check {
    width: 16px;
    text-align: center;
}

.centerColumn {
    width: 8em;
    text-align: center;
}

.leftColumn {
    width: 10em;
}

#footer-container {
    clear: both;
    padding: 1px;
    margin-top: 3px;
    text-align: center;
    background-image: url(../img/Banner.jpg);
    font-size: 1.2em;
    color: whitesmoke;
}

#menu {
    font-size: 0.9em;
}

#button {
    margin: 0 auto;
    text-align: center;
}

.profile-image-container {
    max-width: 350px;
    min-width: 100px;
    max-height: 400px;
    min-height: 150px;
    overflow:hidden;
    /*margin-left: -76px*/
}

#profile-wrapper{ 
    clear: left; 
    float: left; 
    position: relative; 
    left: 50%; 
}

#profile-container { 
    display: block; 
    float: left; 
    position: relative; 
    right: 50%; 
}
#profile-column-1{ /*foto vaizdavimui, bet trint galima*/
    width: 350px;
    height: 500px;
}

#profile-column-2{
    width: 100px;
}

.profile-description{
    width:300px;
    height:120px
}

.align-on-right{
    float: right;
}

.align-on-center{
    float: inside;
}

.align-on-left{
    float: left;
}

.edit-profile-button-width{
    width: 150px;
}

#home-container { 
    display: block; 
    float: left; 
    position: relative; 
    right: 50%;
    padding: 50px;
    font-size: 18px;
}

.reservation-dialog{
    text-align: center;
}

